In [1]:
#liberary function 
import numpy as np
import pandas as pd

In [2]:
#pandas through access a excel file 
data = pd.read_excel(r'C:\Users\h\Desktop\NIFTY25JUN2010000PE.xlsx', parse_dates=[['Date', 'Time']])

In [3]:
data.index = pd.to_datetime(data['Date_Time'] )

In [4]:

data.isnull().sum()

Date_Time    0
Ticker       0
Open         0
HighV        0
LowV         0
Close        0
Volume       0
dtype: int64

In [5]:

data

,Date_Time,Ticker,Open,HighV,LowV,Close,Volume
Date_Time,,,,,,,
2020-05-29 09:15:00,2020-05-29 09:15:00,NIFTY25JUN2010000PE,653.15,662.10,649.90,662.10,1950
2020-05-29 09:16:00,2020-05-29 09:16:00,NIFTY25JUN2010000PE,662.10,662.10,643.35,650.00,3825
2020-05-29 09:17:00,2020-05-29 09:17:00,NIFTY25JUN2010000PE,650.00,656.00,650.00,650.00,450
2020-05-29 09:18:00,2020-05-29 09:18:00,NIFTY25JUN2010000PE,650.00,650.00,640.00,645.50,1275
2020-05-29 09:19:00,2020-05-29 09:19:00,NIFTY25JUN2010000PE,645.50,645.50,645.00,645.00,150
...,...,...,...,...,...,...,...
2020-06-25 15:25:00,2020-06-25 15:25:00,NIFTY25JUN2010000PE,0.05,0.10,0.05,0.10,99975
2020-06-25 15:26:00,2020-06-25 15:26:00,NIFTY25JUN2010000PE,0.10,0.10,0.05,0.05,14925
2020-06-25 15:27:00,2020-06-25 15:27:00,NIFTY25JUN2010000PE,0.05,0.05,0.05,0.05,8175
2020-06-25 15:28:00,2020-06-25 15:28:00,NIFTY25JUN2010000PE,0.05,0.05,0.05,0.05,2625
2020-06-25 15:29:00,2020-06-25 15:29:00,NIFTY25JUN2010000PE,0.05,0.05,0.05,0.05,2550

In [6]:
#drop a time after 15 min timestamp
Resampled_Data = data.resample('15T').mean()

In [7]:
Resampled_Data

,Open,HighV,LowV,Close,Volume
Date_Time,,,,,
2020-05-29 09:15:00,650.996667,655.490000,647.703333,652.043333,905.000000
2020-05-29 09:30:00,673.543333,676.133333,671.226667,673.313333,365.000000
2020-05-29 09:45:00,671.460714,674.114286,668.564286,671.692857,862.500000
2020-05-29 10:00:00,651.678571,653.628571,647.778571,650.142857,1489.285714
2020-05-29 10:15:00,647.283333,649.143333,644.040000,646.660000,1250.000000
...,...,...,...,...,...
2020-06-25 14:15:00,0.293333,0.316667,0.250000,0.280000,87780.000000
2020-06-25 14:30:00,0.223333,0.256667,0.193333,0.216667,66155.000000
2020-06-25 14:45:00,0.170000,0.196667,0.143333,0.170000,45760.000000
2020-06-25 15:00:00,0.093333,0.133333,0.073333,0.096667,68955.000000
2020-06-25 15:15:00,0.056667,0.090000,0.050000,0.060000,58840.000000

In [8]:
df= pd.read_excel(r'C:\Users\h\Desktop\NIFTY25JUN2010000PE.xlsx')

In [9]:
#calculating a profit or loss value 
read_file = pd.read_excel (r'C:\Users\h\Desktop\NIFTY25JUN2010000PE.xlsx') 
read_file.to_csv (r'C:\Users\h\Desktop\NIFTY25JUN2010000PE.csv', index = None, header=True) 

df = pd.DataFrame(pd.read_csv(r'C:\Users\h\Desktop\NIFTY25JUN2010000PE.csv',parse_dates=['Date'])) 

df['profitloss']=df['HighV']-df['LowV']

In [10]:
#first row to second row comparison in low value calculation
df['diff'] = df['LowV'].diff(periods=1)
#print(df.head)
df.drop(df[df['diff'] < 1].index, inplace = True) 
print(df)

                   Ticker       Date      Time   Open    HighV    LowV  \
0     NIFTY25JUN2010000PE 2020-05-29  09:15:00  653.15  662.10  649.90
2     NIFTY25JUN2010000PE 2020-05-29  09:17:00  650.00  656.00  650.00
4     NIFTY25JUN2010000PE 2020-05-29  09:19:00  645.50  645.50  645.00
7     NIFTY25JUN2010000PE 2020-05-29  09:22:00  635.00  647.40  635.00
8     NIFTY25JUN2010000PE 2020-05-29  09:23:00  647.40  650.00  647.00
...                   ...        ...       ...     ...     ...     ...
6315  NIFTY25JUN2010000PE 2020-06-23  09:30:00   23.60   24.15   23.30
6419  NIFTY25JUN2010000PE 2020-06-23  11:14:00   21.20   22.05   21.20
6671  NIFTY25JUN2010000PE 2020-06-23  15:26:00    8.85    9.10    8.80
7003  NIFTY25JUN2010000PE 2020-06-24  14:43:00    8.40    8.60    8.10
7032  NIFTY25JUN2010000PE 2020-06-24  15:12:00    9.50   10.00    9.15

      Close   Volume  profitloss   diff
0      662.1    1950       12.20    NaN
2      650.0     450        6.00   6.65
4      645.0     150        0.50   5.00
7      647.4     825       12.40   2.10
8      650.0     825        3.00  12.00
...      ...     ...         ...    ...
6315    23.7  116250        0.85   1.05
6419    21.8  144000        0.85   1.05
6671     9.1  111225        0.30   2.85
7003     8.4  197025        0.50   1.25
7032    10.0  258825        0.85   1.30

[2153 rows x 10 columns]